apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-local-config
  namespace: observability
  labels:
    app: loki
    app.kubernetes.io/name: loki
    app.kubernetes.io/instance: observability
    app.kubernetes.io/part-of: observability
    app.kubernetes.io/component: config
    app.kubernetes.io/version: "2.9.8"
data:
  local-config.yaml: |
    auth_enabled: false
    server:
      http_listen_port: 3100
    common:
      path_prefix: /loki
      storage:
        filesystem:
          chunks_directory: /loki/chunks
          rules_directory: /loki/rules
      replication_factor: 1
      ring:
        kvstore:
          store: inmemory
    schema_config:
      configs:
        - from: 2020-10-24
          store: boltdb-shipper
          object_store: filesystem
          schema: v11
          index:
            prefix: index_
            period: 24h
    compactor:
      retention_enabled: true
    limits_config:
      retention_period: 24h
