apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: observability
  labels:
    app: prometheus
    app.kubernetes.io/name: prometheus
    app.kubernetes.io/instance: observability
    app.kubernetes.io/part-of: observability
    app.kubernetes.io/component: config
    app.kubernetes.io/version: "2.51.2"
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: [ 'localhost:9090' ]
      - job_name: 'grafana'
        metrics_path: '/metrics'
        static_configs:
          - targets: [ 'grafana:3000' ]
      - job_name: 'loki'
        metrics_path: '/metrics'
        static_configs:
          - targets: [ 'loki:3100' ]
      - job_name: 'node-exporter'
        static_configs:
          - targets: [ 'node-exporter:9100' ]
