apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: observability
  labels:
    app: grafana
    app.kubernetes.io/name: grafana
    app.kubernetes.io/instance: observability
    app.kubernetes.io/part-of: observability
    app.kubernetes.io/component: config
    app.kubernetes.io/version: "10.4.2"
data:
  datasources.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        orgId: 1
        url: http://prometheus:9090
        isDefault: true
      - name: Loki
        type: loki
        access: proxy
        orgId: 1
        url: http://loki:3100
        editable: false
