apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: observability
  labels:
    app: promtail
    app.kubernetes.io/name: promtail
    app.kubernetes.io/instance: observability
    app.kubernetes.io/part-of: observability
    app.kubernetes.io/component: logs
    app.kubernetes.io/version: "2.9.8"
data:
  promtail.yaml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0
    positions:
      filename: /tmp/positions.yaml
    clients:
      - url: http://loki:3100/loki/api/v1/push
    scrape_configs:
      - job_name: system
        static_configs:
          - targets:
              - localhost
            labels:
              job: varlogs
              __path__: /var/log/*.log
