apiVersion: v1
kind: Service
metadata:
  name: promtail
  namespace: observability
  labels:
    app: promtail
    app.kubernetes.io/name: promtail
    app.kubernetes.io/instance: observability
    app.kubernetes.io/part-of: observability
    app.kubernetes.io/component: logs
    app.kubernetes.io/version: "2.9.8"
spec:
  type: ClusterIP
  selector:
    app: promtail
  ports:
    - name: http
      port: 9080
      targetPort: http
      protocol: TCP
